.Header {
    height: 100px;
    width:  100vw;
    background: white;
    display: flex;
    color:black;
    align-items: center;


}
.logo {
    height: 75px;
    width: 200px;
    background-image: url('../../../ERlogo.png') ;
    display: flex;
    margin-left: 60px;
}
.logo a {
    color: white;
    margin-bottom: 12px;
    font-size: 12px;
    position: relative;
}
.random {
    margin-left: 700px;
}