.Header {
    height: 100px;
    width:  100vw;
    background: white;
    display: flex;
    color:black;
    align-items: center;
    justify-content: space-between;


}
.logo {
    height: 75px;
    width: 200px;
    background-image: url('../../../ERlogo.png') ;
    
    margin-left: 60px;
}
.logo a {
    color: white;
    margin-bottom: 12px;
    font-size: 12px;
    position: relative;
}
.random {
    /* margin-left: 1200px; */
}