body {
    height: 100%;
    width:100%;
    background: black;
    display: flex;
    justify-content: center;
    
}
.userForm {
    height: 600px;
    width: 600px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    margin-right: 0px;

}

.container {
    height:400px;
    width:400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    /* border: 2px solid white; */
    position: relative;
    margin-top: 100px;
    margin:0px;
    
}
.candidate {
    color: white;
    margin-left:240px;
    margin-top:50px;
    padding-bottom:0px
}

.newser_userinput label{
    
    margin-top: 60px;
    color: black;
    position: relative;
    padding-left: 50px;

}

.formcontent {
    height: 500px;
    width:500px;
    border: 2px solid white;
    border-radius: 4%;
    margin-top: 100px;
    margin-left: 100px;
}
.newser_userinput input {

    height: 20px;
    width: 200px;
    position: relative;
    float: right;
    margin-right: 50px;
   
}
.container button {
    height: 30px;
    width: 100px;
    position: relative;
    margin-left: 150px;
}
.addUser {
    height: 100px;
    width:100px;
    background:white;
}
.userdisplay {
    background: white;
}
form span {
    background:red;
    position: absolute;
}
